
.gauge-container {
    --rotate: -90deg;
    transform: rotate(var(--rotate));
}

.gauge {
    display: grid;
    place-items: center;
}

.gauge > * {
    grid-area: 1/1;
}

.gauge > h3 {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-numeric */
    font-variant-numeric: tabular-nums;
}

.gauge-dial {
    --angle: 90deg; /* can be set via slider */
    --color: green;
    --thickness: 3rem;
    --_inner: calc(70% - var(--thickness));
    --_outer: calc(var(--_inner) + 1px); /* fixes aliasing */

    /* hides the inner part of the conic gradient */
    -webkit-mask: radial-gradient(
        circle,
        #0000 var(--_inner),
        #000 var(--_outer)
    );
    mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));

    /* the conic gradient, transparent after --angle */
    background-image: conic-gradient(var(--color) var(--angle), #0000 0);

    aspect-ratio: 1;
    inline-size: 50vmin;
    border-radius: 50%;
}

.gauge-display {
    --rotate: 90deg;
    transform: rotate(var(--rotate));

    display: grid;
    grid-template-columns: auto auto auto;
    cursor: default;
    width: 100%;
}

.gauge-current {
    cursor: default;
    text-align: center;
}

.gauge-trend {
    width: 0.75rem;
}

.gauge-legend {
    font-size: small;
    margin-top: 2.5rem;
}

.gauge-legend.left {
    text-align: left;
}

.gauge-legend.right {
    text-align: right;
}

