:root{
    --container-rotate: -90deg;
    --display-rotate: 90deg;
    
    --value-angle: 90deg;
    
    --dial-color: green;
    --dial-thickness: 3rem;
    --dial-size: 50vmin;
    
    --legend-fontsize: small;
    --legend-margintop: 2.5rem;
    
    --_inner: calc(70% - var(--dial-thickness));
    --_outer: calc(var(--_inner) + 1px);
}


.gauge-container {
    transform: rotate(var(--container-rotate));
}

.gauge {
    display: grid;
    place-items: center;
}

.gauge > * {
    grid-area: 1/1;
}

.gauge > h3 {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-numeric */
    font-variant-numeric: tabular-nums;
}

.gauge-dial {
    /* hides the inner part of the conic gradient */
    -webkit-mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));
    mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));

    background-image: conic-gradient(var(--dial-color) var(--value-angle), #0000 0);

    aspect-ratio: 1;
    inline-size: var(--dial-size);
    border-radius: 50%;
}

.gauge-display {
    transform: rotate(var(--display-rotate));

    display: grid;
    grid-template-columns: auto auto auto;
    cursor: default;
    width: 100%;
}

.gauge-current {
    cursor: default;
    text-align: center;
}

.gauge-trend {
    width: 0.75rem;
}

.gauge-legend {
    font-size: var(--legend-fontsize);
    margin-top: var(--legend-margintop);
}

.gauge-legend.left {
    text-align: left;
}

.gauge-legend.right {
    text-align: right;
}

